{% extends 'base.html' %}
{% block content %}
<h1>Sign-up</h1>
<a href="{% url 'page2' %}">Check other user's info</a>
<form method='post'>
    {% csrf_token %}
    First Name :-
    <input type="text" name="fname"><p>
    Last Name :-
    <input type="text" name="lname"><p>
    Phone no. :-
    <input type="number" name="phno"><p>
    Email id :-
    <input type="text" name="email"><p>
    Password :-
    <input type="password" name="password"/><p>
    Gender :-
    <input type="radio" name="gender" value="Male">Male<p>
    <input type="radio" name="gender" value="Female">Female<p>
    <input type="radio" name="gender" value="None">None<p>
    <input type="submit" value="Submit data">
</form>
<br><br>
<div><a href="{% url 'page2' %}">Already have an account! LOGIN</a> </div>
{% endblock %}
